$light: #f7f7f7;
$dark: #222121;
$lime: #00cc66;
$orangeRed: #fb4b4e;
$blue: #5770d9;
$lightlime: rgba(128, 253, 195, 0.27);
$semiLight: rgba(247, 247, 247, 0.66);
$gray: rgba(198, 192, 192, 0.27);
$lightGray: rgb(231, 231, 231);
$green: #2a6a4c;
$darkGreen: #0c3825;
$transparanetGray: rgba(189, 189, 189, 0.75);
$notifyColor: rgba(234, 239, 234, 1);
